@import "../../component/landing/Landing.scss";
@import "../../component/loading_screen/LoadingScreen.scss";
@import "../../component/layout/nav_spinner/NavSpinner.scss";
@import "../../component/layout/navigation/Navigation.scss";
@import "../../component/layout/alert/Alert.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* This prevents padding and borders being added to the elements specified height/width */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Roboto", sans-serif;
}

/* label focus color */
.custom-input-field input:focus + label {
  color: #000 !important;
  font-weight: bold !important;
}
/* label underline focus color */
.custom-input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* label focus color */
.custom-input-field textarea:focus + label {
  color: #000 !important;
  font-weight: bold !important;
}
/* label underline focus color */
.custom-input-field textarea:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.btn-custom {
  background-color: #000 !important;
}

.helper-text-error {
  color: #f44336 !important;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mt-50 {
  margin-top: 5rem;
}

.flex {
  display: flex !important;
}

.laravel-red {
  color: #f44336 !important;
}

.bold-text {
  font-weight: bold;
}